<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo>
        <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
            
            <!-- Wheel information -->
            <left_joint>left_wheel_joint</left_joint>  <!-- Name of the left wheel joint -->
            <right_joint>right_wheel_joint</right_joint>  <!-- Name of the right wheel joint -->
            <wheel_separation>0.35</wheel_separation>  <!-- Distance between the left and right wheels -->
            <wheel_diameter>0.1</wheel_diameter>  <!-- Diameter of the wheels -->

            <!-- Limits -->
            <max_wheel_torque>200</max_wheel_torque>  <!-- Maximum torque that can be applied to the wheels -->
            <max_wheel_acceleration>10.0</max_wheel_acceleration>  <!-- Maximum acceleration of the wheels -->

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>  <!-- Frame ID for odometry messages -->
            <robot_base_frame>base_link</robot_base_frame>  <!-- Frame ID for the robot's base link -->

            <publish_odom>true</publish_odom>  <!-- Publish odometry messages -->
            <publish_odom_tf>true</publish_odom_tf>  <!-- Publish odometry transformation messages -->
            <publish_wheel_tf>true</publish_wheel_tf>  <!-- Publish wheel transformation messages -->


        </plugin>
    </gazebo>


</robot>